.champion-266-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.champion-103-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.champion-84-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.champion-166-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.champion-12-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.champion-32-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.champion-34-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.champion-1-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.champion-523-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.champion-22-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.champion-136-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.champion-268-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.champion-432-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.champion-200-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.champion-53-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.champion-63-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.champion-201-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -288px -48px;
  width: 48px;
  height: 48px;
}
.champion-233-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -336px -48px;
  width: 48px;
  height: 48px;
}
.champion-51-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -384px -48px;
  width: 48px;
  height: 48px;
}
.champion-164-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -432px -48px;
  width: 48px;
  height: 48px;
}
.champion-69-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.champion-31-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.champion-42-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.champion-122-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.champion-131-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.champion-119-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -240px -96px;
  width: 48px;
  height: 48px;
}
.champion-36-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -288px -96px;
  width: 48px;
  height: 48px;
}
.champion-245-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -336px -96px;
  width: 48px;
  height: 48px;
}
.champion-60-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -384px -96px;
  width: 48px;
  height: 48px;
}
.champion-28-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion0.png)
    no-repeat top left;
  background-position: -432px -96px;
  width: 48px;
  height: 48px;
}
.champion-81-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.champion-9-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.champion-114-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.champion-105-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.champion-3-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.champion-41-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.champion-86-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.champion-150-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.champion-79-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.champion-104-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.champion-887-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.champion-120-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.champion-74-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.champion-420-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.champion-39-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.champion-427-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.champion-40-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -288px -48px;
  width: 48px;
  height: 48px;
}
.champion-59-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -336px -48px;
  width: 48px;
  height: 48px;
}
.champion-24-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -384px -48px;
  width: 48px;
  height: 48px;
}
.champion-126-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -432px -48px;
  width: 48px;
  height: 48px;
}
.champion-202-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.champion-222-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.champion-145-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.champion-429-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.champion-43-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.champion-30-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -240px -96px;
  width: 48px;
  height: 48px;
}
.champion-38-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -288px -96px;
  width: 48px;
  height: 48px;
}
.champion-55-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -336px -96px;
  width: 48px;
  height: 48px;
}
.champion-10-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -384px -96px;
  width: 48px;
  height: 48px;
}
.champion-141-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion1.png)
    no-repeat top left;
  background-position: -432px -96px;
  width: 48px;
  height: 48px;
}
.champion-85-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.champion-121-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.champion-203-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.champion-240-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.champion-96-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.champion-897-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.champion-7-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.champion-64-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.champion-89-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.champion-876-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.champion-127-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.champion-236-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.champion-117-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.champion-99-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.champion-54-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.champion-90-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.champion-57-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -288px -48px;
  width: 48px;
  height: 48px;
}
.champion-11-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -336px -48px;
  width: 48px;
  height: 48px;
}
.champion-902-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -384px -48px;
  width: 48px;
  height: 48px;
}
.champion-21-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -432px -48px;
  width: 48px;
  height: 48px;
}
.champion-62-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.champion-82-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.champion-25-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.champion-950-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.champion-267-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.champion-75-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -240px -96px;
  width: 48px;
  height: 48px;
}
.champion-111-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -288px -96px;
  width: 48px;
  height: 48px;
}
.champion-518-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -336px -96px;
  width: 48px;
  height: 48px;
}
.champion-76-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -384px -96px;
  width: 48px;
  height: 48px;
}
.champion-895-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion2.png)
    no-repeat top left;
  background-position: -432px -96px;
  width: 48px;
  height: 48px;
}
.champion-56-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.champion-20-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.champion-2-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.champion-61-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.champion-516-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.champion-80-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.champion-78-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.champion-555-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.champion-246-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.champion-133-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.champion-497-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.champion-33-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.champion-421-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.champion-526-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.champion-888-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.champion-58-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.champion-107-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -288px -48px;
  width: 48px;
  height: 48px;
}
.champion-92-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -336px -48px;
  width: 48px;
  height: 48px;
}
.champion-68-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -384px -48px;
  width: 48px;
  height: 48px;
}
.champion-13-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -432px -48px;
  width: 48px;
  height: 48px;
}
.champion-360-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.champion-113-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.champion-235-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.champion-147-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.champion-875-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.champion-35-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -240px -96px;
  width: 48px;
  height: 48px;
}
.champion-98-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -288px -96px;
  width: 48px;
  height: 48px;
}
.champion-102-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -336px -96px;
  width: 48px;
  height: 48px;
}
.champion-27-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -384px -96px;
  width: 48px;
  height: 48px;
}
.champion-14-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion3.png)
    no-repeat top left;
  background-position: -432px -96px;
  width: 48px;
  height: 48px;
}
.champion-15-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.champion-72-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.champion-37-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.champion-16-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.champion-50-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.champion-517-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.champion-134-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.champion-223-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.champion-163-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.champion-91-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.champion-44-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.champion-17-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.champion-412-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.champion-18-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.champion-48-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.champion-23-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.champion-4-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -288px -48px;
  width: 48px;
  height: 48px;
}
.champion-29-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -336px -48px;
  width: 48px;
  height: 48px;
}
.champion-77-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -384px -48px;
  width: 48px;
  height: 48px;
}
.champion-6-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -432px -48px;
  width: 48px;
  height: 48px;
}
.champion-110-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.champion-67-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.champion-45-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.champion-161-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.champion-711-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.champion-254-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -240px -96px;
  width: 48px;
  height: 48px;
}
.champion-234-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -288px -96px;
  width: 48px;
  height: 48px;
}
.champion-112-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -336px -96px;
  width: 48px;
  height: 48px;
}
.champion-8-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -384px -96px;
  width: 48px;
  height: 48px;
}
.champion-106-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion4.png)
    no-repeat top left;
  background-position: -432px -96px;
  width: 48px;
  height: 48px;
}
.champion-19-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.champion-498-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.champion-101-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.champion-5-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.champion-157-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.champion-777-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.champion-83-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.champion-350-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.champion-154-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.champion-238-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.champion-221-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.champion-115-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.champion-26-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.champion-142-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.champion-143-48 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/champion5.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
