.champion-266-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-103-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-84-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-166-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-12-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-32-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -80px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-34-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-1-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-523-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -128px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-22-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-136-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-268-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-432-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-200-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-53-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-63-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-201-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-233-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-51-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-164-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -144px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-69-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: 0px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-31-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -16px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-42-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-122-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-131-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-119-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-36-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-245-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-60-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-28-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -144px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-81-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-9-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-114-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-105-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-3-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-41-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -80px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-86-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-150-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-79-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -128px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-104-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-887-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-120-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-74-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-420-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-39-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-427-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-40-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-59-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-24-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-126-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -144px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-202-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: 0px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-222-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -16px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-145-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-429-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-43-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-30-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-38-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-55-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-10-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-141-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -144px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-85-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-121-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-203-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-240-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-96-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-897-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -80px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-7-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-64-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-89-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -128px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-876-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-127-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-236-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-117-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-99-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-54-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-90-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-57-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-11-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-902-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-21-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -144px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-62-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: 0px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-82-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -16px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-25-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-950-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-267-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-75-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-111-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-518-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-76-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-895-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -144px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-56-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-20-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-2-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-61-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-516-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-80-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -80px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-78-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-555-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-246-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -128px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-133-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-497-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-33-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-421-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-526-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-888-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-58-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-107-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-92-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-68-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-13-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -144px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-360-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: 0px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-113-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -16px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-235-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-147-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-875-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-35-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-98-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-102-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-27-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-14-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -144px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-15-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-72-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-37-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-16-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-50-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-517-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -80px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-134-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-223-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-163-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -128px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-91-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-44-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-17-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-412-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-18-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-48-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-23-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-4-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-29-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-77-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-6-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -144px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-110-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: 0px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-67-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -16px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-45-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -32px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-161-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -48px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-711-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-254-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-234-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-112-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-8-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-106-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -144px -32px;
  width: 16px;
  height: 16px;
  background-size: 1000% 300%;
}
.champion-19-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-498-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-101-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-5-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-157-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -64px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-777-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -80px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-83-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-350-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-154-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -128px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-238-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-221-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-115-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-26-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-142-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -48px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
.champion-143-16 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  background-size: 1000% 200%;
}
