.champion-266-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-103-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-84-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-166-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-12-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-32-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-34-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-1-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-523-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-22-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-136-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-268-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-432-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-200-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-53-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-63-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-201-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-233-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-51-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -192px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-164-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -216px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-69-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-31-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-42-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-122-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-131-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-119-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-36-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-245-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-60-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-28-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion0.png)
    no-repeat top left;
  background-position: -216px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-81-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-9-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-114-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-105-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-3-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-41-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-86-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-150-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-79-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-104-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-887-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-120-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-74-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-420-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-39-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-427-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-40-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-59-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-24-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -192px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-126-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -216px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-202-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-222-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-145-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-429-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-43-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-30-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-38-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-55-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-10-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-141-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion1.png)
    no-repeat top left;
  background-position: -216px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-85-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-121-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-203-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-240-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-96-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-897-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-7-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-64-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-89-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-876-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-127-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-236-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-117-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-99-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-54-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-90-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-57-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-11-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-902-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -192px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-21-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -216px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-62-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-82-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-25-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-950-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-267-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-75-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-111-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-518-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-76-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-895-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion2.png)
    no-repeat top left;
  background-position: -216px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-56-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-20-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-2-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-61-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-516-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-80-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-78-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-555-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-246-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-133-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-497-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-33-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-421-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-526-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-888-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-58-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-107-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-92-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-68-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -192px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-13-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -216px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-360-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-113-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-235-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-147-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-875-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-35-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-98-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-102-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-27-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-14-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion3.png)
    no-repeat top left;
  background-position: -216px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-15-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-72-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-37-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-16-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-50-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-517-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-134-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-223-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-163-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-91-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-44-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-17-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-412-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-18-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-48-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-23-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-4-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-29-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-77-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -192px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-6-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -216px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-110-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-67-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-45-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-161-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-711-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-254-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-234-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-112-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-8-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -192px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-106-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion4.png)
    no-repeat top left;
  background-position: -216px -48px;
  width: 24px;
  height: 24px;
  background-size: 1000% 300%;
}
.champion-19-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-498-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-101-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-5-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-157-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-777-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-83-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-350-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-154-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-238-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-221-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-115-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-26-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-142-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
.champion-143-24 {
  background: url(https://luvnkhalcwlxffzuwzts.supabase.co/storage/v1/object/public/LoLFriends/sprite/tiny_champion5.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 200%;
}
