.summoner-21-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-1-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-2202-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-2201-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-14-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-3-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-4-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-6-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-7-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-13-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-30-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-31-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-11-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-39-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-32-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-12-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-54-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
.summoner-55-24 {
  background: url(https://dtneqrqtsogjewiotxnf.supabase.co/storage/v1/object/public/lolassets/sprite/tiny_spell0.png)
    no-repeat top left;
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
  background-size: 1000% 400%;
}
